# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

\.vscode/

lab2/MAIN-1\.2\.bak

lab2/MAIN-1\.2\.BDL

lab2/MAIN-1\.2\.brk

lab2/MAIN-1\.2\.HDL

lab2/MAIN-1\.2\.org

lab2/MAIN-1\.2\.rom

lab2/MAIN-1\.2\.bmk

lab1/MAIN-LAB1\.2\.BDL

lab1/MAIN-LAB1\.2\.brk

lab1/MAIN-LAB1\.2\.HDL

lab1/MAIN-LAB1\.2\.org

lab1/MAIN-LAB1\.2\.rom

lab2/MAIN-1\.1\.BDL

lab2/MAIN-1\.1\.brk

lab2/MAIN-1\.1\.HDL

lab2/MAIN-1\.1\.org

lab2/MAIN-1\.1\.rom

lab2/main-aux\.c

lab2/MAIN-LAB2\.BDL

lab2/MAIN-LAB2\.brk

lab2/MAIN-LAB2\.HDL

lab2/MAIN-LAB2\.org

lab2/MAIN-LAB2\.rom
